@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
@font-face {
  font-family: "PP Nueue Machina";
  src: url("../asset/font/PPNeueMachina-Ultrabold.otf")
      format("opentype");
}

@font-face {
  font-family: "PP Nueue Machina Regular";
  src: url("../asset/font/PPNeueMachina-Regular.otf")
      format("opentype");
}
@font-face {
  font-family: "Mazius Display";
  src: url("/asset/font/MAZIUSREVIEW20.09-Regular.woff2") format("woff2"),
    url("/asset/font/MAZIUSREVIEW20.09-Regular.woff") format("woff");
}
@font-face {
  font-family: "Mazius Display Italic";
  src: url("/asset/font/MAZIUSREVIEW20.09-Extraitalic.woff2") format("woff2"),
    url("/asset/font/MAZIUSREVIEW20.09-Extraitalic.woff") format("woff");
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
  background-color: #1d1d24;
}

a {
  color: inherit;
  text-decoration: none;
}

p{
  color: #94a1b2;
}
h1,h2,h3,h4{
  font-family: 'PP Nueue Machina';
  color: #fff;
}


* {
  box-sizing: border-box;
}
