.marketplace {
  background: transparent;

  color: #fff;
  .container {
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    padding: 1rem 3rem;
    align-items: center;
    display: flex;
    justify-content: space-between;
    h2 {
      margin: 0.5rem auto;
    }
  }

  .heroContent {
    width: 50%;
    p {
      line-height: 1.75;
      width: 80%;
    }
    button {
      background: transparent;
      border: 1px solid #b3b3b3;
      padding: 0.75rem 1.5rem;
      color: #fff;
      border-radius: 8px;
    }
    .exploreBtn {
      margin-right: 0.75rem;
      background-color: #7f5af0;
      color: #fff;
      border: 0;
    }
  }

  .productRow{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(305px, 1fr));
    grid-gap: 1rem;
  }
  .container2{
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    padding: 1rem 3rem;

    .title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 1rem;
      border-bottom: 1px solid #b2b2b2;
      width: 100%;
      button {
        background: transparent;
        border: 1px solid #b3b3b3;
        padding: 0.75rem 1.5rem;
        color: #fff;
        border-radius: 8px;
      }
      h2 {
        margin: 1rem 0;
      }
    }
  }
  
  .heroImg {
    width: 50%;
  }
}
